	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
<header class="header-section clearfix">
    <a href="index.html" class="site-logo" style="font-size: 20px;">
        <img src="{{ asset('img/logo.png') }}" alt="SolMusic">
    </a>
    <div class="header-right">
        <div class="user-panel">
            {% if app.user %}
                {# Utilisateur connecté #}
                <a href="">Submit Audio</a>
                <a href="">My Projects</a>
                <a href="">Validate</a>
                <a>|</a>
                <a href="{{ path('app_logout') }}" class="logout">Log out</a>
               
            {% else %}
                {# Utilisateur non connecté #}
                <a href="{{ path('app_register') }}" class="register">Sign up</a>
                <a>|</a>
                <a href="{{ path('app_login') }}" class="login">Login</a>
            {% endif %}
        </div>
    </div>
    <ul class="main-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</header>
