	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="index.html" class="site-logo" style="font-size: 20px;">
			<img src="img/logo.png" alt="">
            <span>Mix</span><span style="color: red;">App</span>
		</a>
		<div class="header-right">
			<div class="user-panel">
                <a href="{{path('app_register')}}" class="register">Sign up</a>
			   <a>|</a>
				<a href="{{path('app_login')}}" class="login">Login</a>
			
			</div> 
		</div>
		<ul class="main-menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</header>
	<!-- Header section end -->