{# templates/projet/detail.html.twig #}

{# Affichez les détails du projet ici #}

{# Ajoutez un lien pour valider l'audio #}
 
    <a href="{{ path('valider_audio', { 'projetId': 2, 'audioId': 30 }) }}" class="btn btn-success">Valider l'audio</a>
 