.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Centrer verticalement sur l'écran */
}


.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #0a183d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.login-form label {
    color: #fc0254;
}

.login-form input {
    border: 1px solid #fc0254;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
}

.login-form button {
    background-color: #fc0254;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
